
body{
  font-family: sans-serif;
  background:white;
  padding: 40px;
}
.contact-container{
  padding-right: 20px;
  text-align: right;
}
.github{
  display: inline-block;
}
.instagram{
  display: inline-block;
}
.facebook{
  display: inline-block;
}
.name{
  padding-left: 5px;
  display: inline;
}
p.skill-title{
  font-weight: lighter;
  font-size: 30px;
}
.skills-list{
  padding-left: 20px;
}
.service{
  padding-left: 20px;
  display: inline-block;
}
.skills-list img{
  width:50%;
  height:50%;
}
h3 {
  font-weight: lighter;
}
